# Webscraping of IMBd movies detail

### Table 1

In [7]:
#install and import required libraries.
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd
import csv
import numpy as np
from time import sleep
from random import randint

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\lavina\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.9.14)

In [2]:
# information to be in english language
header={"Accept=language":"en-US,en;q=0.5"}

In [3]:
# extracting information of pages
pages=np.arange(1,1749,50)

In [23]:
# Create empty lists for the data
Sno = []
Movie_Name = []
Director_Name = []
Director1 = []
Director2 = []
Director3 = []
Duration = []
Year = []
Ratings = []
Metascore = []

In [24]:
#creating a for loop for required pages
for page in pages:
    #getting required url
    page=requests.get("https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text, 'html.parser')
    # Find movie data on the current page
    movie_data = soup.find_all('div', attrs={'class': 'lister-item-content'})
    sleep(randint(2,8))
    # Iterate over each movie on the current page
    for movie in movie_data:
        # Extract serial number
        Sno.append(len(Sno) + 1)
        
        # Extract movie name
        Movie_Name.append(movie.h3.a.text)
        
        # Extract director names
        directors = movie.find_all('p')[2].find_all('a')
        director_names = [director.text for director in directors][:-4]
        Director_Name.append(director_names)
         # Assign values to Director1, Director2, and Director3
        director_count = len(director_names)
        Director1.append(director_names[0] if director_count > 0 else "-")
        Director2.append(director_names[1] if director_count > 1 else "-")
        Director3.append(director_names[2] if director_count > 2 else "-")

        # Extract duration
        Duration.append(movie.find('span', attrs={'class': 'runtime'}).text)
        
        # Extract year
        Year.append(movie.find('span', attrs={'class': 'lister-item-year'}).text.strip('()'))
        
        # Extract rating
        Ratings.append(movie.strong.text)
        
        # Extract metascore
        metascore = movie.find('span', attrs={'class': 'metascore'})
        Metascore.append(metascore.text if metascore else "-")

In [26]:
# Create and print a DataFrame from the scraped data
df = pd.DataFrame({'Sno': Sno,'Movie Name': Movie_Name,'Director1': Director1,'Director2': Director2,'Director3': Director3,'Duration': Duration,'Year': Year,'Ratings': Ratings,'Metascore': Metascore})

In [27]:
# showing dataframe
df

,Sno,Movie Name,Director1,Director2,Director3,Duration,Year,Ratings,Metascore
0,1,The Dark Knight,Christopher Nolan,-,-,152 min,2008,9.0,84
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,-,-,201 min,2003,9.0,94
2,3,Inception,Christopher Nolan,-,-,148 min,2010,8.8,74
3,4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,-,-,178 min,2001,8.8,92
4,5,The Lord of the Rings: The Two Towers,Peter Jackson,-,-,179 min,2002,8.8,87
...,...,...,...,...,...,...,...,...,...
1745,1746,Radhe,Prabhu Deva,-,-,109 min,2021,1.9,-
1746,1747,Race 3,Remo D'Souza,-,-,160 min,2018,1.9,-
1747,1748,Angels Apocalypse,Sean Cain,Enzo Zelocchi,-,85 min,2015,1.7,-
1748,1749,Elk*rtuk,Keith English,-,-,125 min,2021,1.5,-
1749,1750,Sadak 2,Mahesh Bhatt,-,-,133 min,2020,1.2,-

In [28]:
# saving file to csv
df.to_csv('Table1_IMBd.csv', index=False)

### Table 2

In [30]:
# Making blank lists for required data
Movie_Name = []
star_list =[]
star1 = []
star2 = []
star3 = []
star4 = []
votes = []
Genre1 = []
Genre2 = []
Genre3 = []
Gross_collection = []
popularity = []
Certification = []
for page in pages:
    #getting required url
    page=requests.get("https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text, 'html.parser')
    # Find movie data on the current page
    movie_data = soup.find_all('div', attrs={'class': 'lister-item-content'})
    sleep(randint(2,8))
    # Iterate over each movie on the current page
    for movie in movie_data:
        # Extract movie name
        movie_name = movie.find('h3').find('a').text.strip()
        Movie_Name.append(movie_name)
        
        # Extract stars of the movie
        star = movie.find_all('p')[2].find_all('a')
        star_lis = [star.text for star in star]
        if len(star_lis) >= 4:
            star1.append(star_lis[-4])
            star2.append(star_lis[-3])
            star3.append(star_lis[-2])
            star4.append(star_lis[-1])
        elif len(star_lis) == 3:
            star1.append(star_lis[-3])
            star2.append(star_lis[-2])
            star3.append(star_lis[-1])
            star4.append("-")
        elif len(star_lis) == 2:
            star1.append(star_lis[-2])
            star2.append(star_lis[-1])
            star3.append("-")
            star4.append("-")
        elif len(star_lis) == 1:
            star1.append(star_lis[-1])
            star2.append("-")
            star3.append("-")
            star4.append("-")
        else:
            star1.append("-")
            star2.append("-")
            star3.append("-")
            star4.append("-")
        
        # Extract votes and gross collection
        values=soup.find_all('span', attrs={'name': 'nv'})
        vote= values[0].text
        votes.append(votes_count)
        gross=values[1].text if len(values) >1 else "-"
        Gross_collection.append(gross)
        
        # Extract genre
        genre_elements = movie.find_all('span', class_='genre')
        genres = []
        for genre_element in genre_elements:
            genre_data = genre_element.text.strip()
            genres.extend(genre_data.split(', '))
        # Bifurcate genres into three subfields
        genre1 = None
        genre2 = None
        genre3 = None
        if len(genres) > 0:
            genre1 = genres[0].strip()
        if len(genres) > 1:
            genre2 = genres[1].strip()
        if len(genres) > 2:
            genre3 = genres[2].strip()
        Genre1.append(genre1)
        Genre2.append(genre2)
        Genre3.append(genre3)

        # Extract popularity
        popularity_data = movie.find('span', attrs={'name': 'ir'})
        if popularity_data is not None:
            popularity_text = popularity_data.text.strip()
            popularity.append(popularity_text)
        else:
            popularity.append(None)
        
        # Extract certification
        certification_element = movie.find('span', class_='certificate')
        if certification_element is not None:
            certification_data = certification_element.text.strip()
            Certification.append(certification_data)
        else:
            Certification.append(None)

In [31]:
# Create a DataFrame to store the scraped data
df1 = pd.DataFrame({'Movie_Name': Movie_Name,'Star1': star1,'Star2': star2,'Star3': star3,'Star4': star4,'Votes': votes,'Genre1': Genre1,'Genre2': Genre2,'Genre3': Genre3,'Gross_Collection': Gross_collection,'Popularity': popularity,'Certification': Certification})

# Display the DataFrame
df1

,Movie_Name,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,96253,Action,Crime,Drama,$534.86M,None,UA
1,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,96253,Action,Adventure,Drama,$534.86M,None,U
2,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,96253,Action,Adventure,Sci-Fi,$534.86M,None,UA
3,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,96253,Action,Adventure,Drama,$534.86M,None,U
4,The Lord of the Rings: The Two Towers,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,96253,Action,Adventure,Drama,$534.86M,None,UA
...,...,...,...,...,...,...,...,...,...,...,...,...
1745,Radhe,Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff,96253,Action,Crime,Thriller,$13.12M,None,UA
1746,Race 3,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,96253,Action,Crime,Thriller,$13.12M,None,UA
1747,Angels Apocalypse,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,96253,Action,Fantasy,Sci-Fi,$13.12M,None,None
1748,Elk*rtuk,Vivianne Bánovits,András Mózes,Barna Bokor,Gabriella Gubás,96253,Action,Crime,Drama,$13.12M,None,None
1749,Sadak 2,Alia Bhatt,Priyanka Bose,Sanjay Dutt,Aditya Roy Kapoor,96253,Action,Drama,None,$13.12M,None,15+

In [32]:
# saving file to csv
df1.to_csv('Table2_IMBd.csv', index=False)

### Inserting csv file

In [1]:
#importing required libraries
import sqlite3

In [2]:
#Create database
db=sqlite3.connect("E:\mySQLlite _Database\IMDB_database.db")

In [3]:
# creating memory to execute data
cur=db.cursor()

In [4]:
# creating table 1
cur.execute("create table IMDB_1(Sno INT(5) primary key, [Movie Name] VARCHAR(20) , Director1 VARCHAR(15), Director2 VARCHAR(15), Director3 VARCHAR(15),  Duration VARCHAR(15), Year INT(4), Ratings FLOAT(3), Metascore INT(4))")

In [5]:
# creating table 2
cur.execute("CREATE TABLE IMDB_2 (Movie_Name VARCHAR(50), Star1 VARCHAR(50), Star2 VARCHAR(50), Star3 VARCHAR(50), Star4 VARCHAR(50), Votes INT(10), Genre1 VARCHAR(50), Genre2 VARCHAR(50), Genre3 VARCHAR(50), Gross_Collection VARCHAR(10), Popularity VARCHAR(10), Certification VARCHAR(5), FOREIGN KEY (Movie_Name) REFERENCES IMDB_1(Movie_Name))")

In [8]:
# inserting records in table 1
with open('Table1_IMBd.csv', 'r') as file:
    total_record = 0
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip the header row
    for row in csv_reader:
        cur.execute("INSERT INTO IMDB_1 VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", row)
        total_record += 1
    db.commit()

print(total_record, "Record inserted")

1750 Record inserted

In [9]:
db.commit()

In [10]:
# inserting records in table 2
with open('Table2_IMBd.csv', 'r', encoding='utf-8') as file:
    total_record = 0
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip the header row
    for row in csv_reader:
        cur.execute("INSERT INTO IMDB_2 VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ? ,?)", row)
        total_record += 1
    db.commit()

print(total_record, "Record inserted")

1750 Record inserted

In [11]:
db.commit()

### Queries for table 1

1) Display all the details of movies created by directors Christopher and Matt Reeves.

In [19]:
# Execute the SQL query to fetch the movie details
result1 = cur.execute("SELECT * FROM IMDB_1 WHERE (Director1='Christopher Nolan' OR Director2='Christopher Nolan' OR Director3='Christopher Nolan') OR (Director1='Matt Reeves' OR Director2='Matt Reeves' OR Director3='Matt Reeves')")
# Fetch all rows
rows = result1.fetchall()

# Convert the rows to a DataFrame
df1 = pd.DataFrame(rows, columns=[column[0] for column in result1.description])

df1

,Sno,Movie Name,Director1,Director2,Director3,Duration,Year,Ratings,Metascore
0,1,The Dark Knight,Christopher Nolan,-,-,152 min,2008,9.0,84
1,3,Inception,Christopher Nolan,-,-,148 min,2010,8.8,74
2,21,The Dark Knight Rises,Christopher Nolan,-,-,164 min,2012,8.4,78
3,42,Batman Begins,Christopher Nolan,-,-,140 min,2005,8.2,70
4,130,The Batman,Matt Reeves,-,-,176 min,2022,7.8,72
5,138,Dunkirk,Christopher Nolan,-,-,106 min,2017,7.8,94
6,223,Dawn of the Planet of the Apes,Matt Reeves,-,-,130 min,2014,7.6,79
7,305,War for the Planet of the Apes,Matt Reeves,-,-,140 min,2017,7.4,82
8,321,Tenet,Christopher Nolan,-,-,150 min,2020,7.3,69
9,503,Cloverfield,Matt Reeves,-,-,85 min,2008,7.0,64

2) Display all the details of movies with a duration of 140 minutes to 190 minutes.

In [29]:
# Execute the SQL query
result2 = cur.execute("SELECT * FROM IMDB_1 WHERE Duration BETWEEN '140 min' AND '190 min'")
# Fetch all rows
row2=result2.fetchall()

# Convert the rows to a DataFrame
df2=pd.DataFrame(row2,columns=[column[0] for column in result2.description])
df2

,Sno,Movie Name,Director1,Director2,Director3,Duration,Year,Ratings,Metascore
0,1,The Dark Knight,Christopher Nolan,-,-,152 min,2008,9.0,84
1,3,Inception,Christopher Nolan,-,-,148 min,2010,8.8,74
2,4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,-,-,178 min,2001,8.8,92
3,5,The Lord of the Rings: The Two Towers,Peter Jackson,-,-,179 min,2002,8.8,87
4,8,Soorarai Pottru,Sudha Kongara,-,-,153 min,2020,8.7,-
...,...,...,...,...,...,...,...,...,...
197,1737,Liger,Puri Jagannadh,-,-,140 min,2022,2.7,-
198,1738,Gunday,Ali Abbas Zafar,-,-,152 min,2014,2.7,-
199,1741,Heropanti 2,Ahmed Khan,-,-,145 min,2022,2.5,-
200,1742,Laxmii,Raghava Lawrence,Balakrishnan Thevar,-,141 min,2020,2.5,-
201,1747,Race 3,Remo D'Souza,-,-,160 min,2018,1.9,-

3) Display all details of movies with ratings above 7 in ascending order.

In [30]:
# Execute the SQL query
result3=cur.execute("SELECT * FROM IMDB_1 WHERE Ratings > 7 ORDER BY Ratings ASC")
# Fetch all rows
row3=result3.fetchall()

# Convert the rows to a DataFrame
df3=pd.DataFrame(row3,columns=[column[0] for column in result3.description])
df3

,Sno,Movie Name,Director1,Director2,Director3,Duration,Year,Ratings,Metascore
0,430,Fast & Furious 7,James Wan,-,-,137 min,2015,7.1,67
1,431,The Mummy,Stephen Sommers,-,-,124 min,1999,7.1,48
2,432,Mission: Impossible,Brian De Palma,-,-,110 min,1996,7.1,59
3,433,Free Guy,Shawn Levy,-,-,115 min,2021,7.1,62
4,434,Wrath of Man,Guy Ritchie,-,-,119 min,2021,7.1,57
...,...,...,...,...,...,...,...,...,...
482,3,Inception,Christopher Nolan,-,-,148 min,2010,8.8,74
483,4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,-,-,178 min,2001,8.8,92
484,5,The Lord of the Rings: The Two Towers,Peter Jackson,-,-,179 min,2002,8.8,87
485,1,The Dark Knight,Christopher Nolan,-,-,152 min,2008,9.0,84
486,2,The Lord of the Rings: The Return of the King,Peter Jackson,-,-,201 min,2003,9.0,94

4) Display all movie names in descending order.

In [31]:
# Execute the SQL query
result4=cur.execute("SELECT * FROM IMDB_1 ORDER BY [Movie Name] DESC")
# Fetch all rows
row4=result4.fetchall()

# Convert the rows to a DataFrame
df4=pd.DataFrame(row4,columns=[column[0] for column in result4.description])
df4

,Sno,Movie Name,Director1,Director2,Director3,Duration,Year,Ratings,Metascore
0,1564,Ã†on Flux,Karyn Kusama,-,-,93 min,2005,5.4,36
1,244,Ã–lÃ¼mlÃ¼ DÃ¼nya,Ali Atay,-,-,107 min,2018,7.6,-
2,1697,xXx: State of the Union,Lee Tamahori,-,-,101 min,2005,4.5,37
3,1613,xXx: Return of Xander Cage,D.J. Caruso,-,-,107 min,2017,5.2,42
4,1368,xXx,Rob Cohen,-,-,124 min,2002,5.8,48
...,...,...,...,...,...,...,...,...,...
1745,1508,12 Rounds,Renny Harlin,-,-,108 min,2009,5.6,38
1746,1638,"10,000 BC",Roland Emmerich,-,-,109 min,2008,5.1,34
1747,105,1 - Nenokkadine,Sukumar,-,-,170 min,2014,8.0,-
1748,421,'71,Yann Demange,-,-,99 min,2014,7.2,83
1749,1043,#Saraitda,Il Cho,-,-,98 min,2020,6.3,-

5) Display movie name starts with ‘P’ and their rating is greater than 7.

In [32]:
# Execute the SQL query
result5 = cur.execute("SELECT * FROM IMDB_1 WHERE [Movie Name] LIKE 'P%' AND Ratings > 7")
# Fetch all rows
rows = result5.fetchall()

# Convert the rows to a DataFrame
df5=pd.DataFrame(rows,columns=[column[0] for column in result5.description])
df5

,Sno,Movie Name,Director1,Director2,Director3,Duration,Year,Ratings,Metascore
0,56,Paan Singh Tomar,Tigmanshu Dhulia,-,-,135 min,2012,8.2,-
1,59,Pirates of the Caribbean: The Curse of the Bla...,Gore Verbinski,-,-,143 min,2003,8.1,63
2,119,Per un pugno di dollari,Sergio Leone,-,-,99 min,1964,7.9,65
3,140,Predator,John McTiernan,-,-,107 min,1987,7.8,47
4,190,Ponniyin Selvan: I,Mani Ratnam,-,-,167 min,2022,7.7,-
5,238,Pushpa: The Rise - Part 1,Sukumar,-,-,179 min,2021,7.6,-
6,300,Predestination,Michael Spierig,Peter Spierig,-,97 min,I) (2014,7.4,69
7,341,Pirates of the Caribbean: Dead Man's Chest,Gore Verbinski,-,-,151 min,2006,7.3,53
8,345,Patriots Day,Peter Berg,-,-,133 min,2016,7.3,69
9,378,Point Break,Kathryn Bigelow,-,-,122 min,1991,7.2,59
10,436,Prey,Dan Trachtenberg,-,-,100 min,I) (2022,7.1,71
11,447,Pirates of the Caribbean: At World's End,Gore Verbinski,-,-,169 min,2007,7.1,50
12,459,Planet Terror,Robert Rodriguez,-,-,105 min,2007,7.1,-
13,469,Payback,Brian Helgeland,-,-,100 min,I) (1999,7.1,46

### Queries for table 2

1) Display all movie names with star Arnold Schwarzenegger in ascending order.

In [33]:
# Execute the SQL query 
result1=cur.execute("SELECT [Movie_Name] FROM IMDB_2 WHERE star1='Arnold Schwarzenegger' OR star2 = 'Arnold Schwarzenegger' OR star3 = 'Arnold Schwarzenegger' OR star4 = 'Arnold Schwarzenegger' ORDER BY [Movie_Name] ASC")

# Fetch all rows
row1 = result1.fetchall()

# Create a DataFrame from the rows and column names
df = pd.DataFrame(row1,columns=[column[0] for column in result1.description])

df

                            Movie_Name
0                       Batman & Robin
1                    Collateral Damage
2                             Commando
3                  Conan the Barbarian
4                  Conan the Destroyer
5                          End of Days
6                               Eraser
7                          Escape Plan
8                     Kindergarten Cop
9                     Last Action Hero
10                            Predator
11                            Raw Deal
12                            Red Heat
13                           Red Sonja
14                            Sabotage
15          Terminator 2: Judgment Day
16  Terminator 3: Rise of the Machines
17                  Terminator Genisys
18               Terminator: Dark Fate
19                         The 6th Day
20                      The Last Stand
21                     The Running Man
22                      The Terminator
23                        Total Recall
24                           True Lies

2) Display all details of the movie with the highest number of votes.

In [34]:
# Execute the SQL query 
result2=cur.execute("SELECT *  FROM IMDB_2 WHERE Votes = (SELECT MAX(Votes) FROM IMDB_2)")

# Fetch all rows
row2 = result2.fetchall()

# Create a DataFrame from the rows and column names
df = pd.DataFrame(row2,columns=[column[0] for column in result2.description])

df

,Movie_Name,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,96253,Action,Crime,Drama,$534.86M,,UA
1,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,96253,Action,Adventure,Drama,$534.86M,,U
2,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,96253,Action,Adventure,Sci-Fi,$534.86M,,UA
3,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,96253,Action,Adventure,Drama,$534.86M,,U
4,The Lord of the Rings: The Two Towers,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,96253,Action,Adventure,Drama,$534.86M,,UA
...,...,...,...,...,...,...,...,...,...,...,...,...
1745,Radhe,Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff,96253,Action,Crime,Thriller,$13.12M,,UA
1746,Race 3,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,96253,Action,Crime,Thriller,$13.12M,,UA
1747,Angels Apocalypse,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,96253,Action,Fantasy,Sci-Fi,$13.12M,,
1748,Elk*rtuk,Vivianne Bánovits,András Mózes,Barna Bokor,Gabriella Gubás,96253,Action,Crime,Drama,$13.12M,,
1749,Sadak 2,Alia Bhatt,Priyanka Bose,Sanjay Dutt,Aditya Roy Kapoor,96253,Action,Drama,,$13.12M,,15+

3) Display movie names with gross collections in descending order.

In [35]:
# Execute the SQL query 
result3=cur.execute("SELECT *  FROM IMDB_2 ORDER BY Gross_Collection DESC")

# Fetch all rows
row3 = result3.fetchall()

# Create a DataFrame from the rows and column names
df = pd.DataFrame(row3,columns=[column[0] for column in result3.description])

df

,Movie_Name,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,How It Ends,Theo James,Kat Graham,Nancy Sorel,Nicole Ari Parker,96253,Action,Drama,Horror,"72,459",,16
1,Superman III,Christopher Reeve,Richard Pryor,Margot Kidder,Jackie Cooper,96253,Action,Adventure,Comedy,"72,459",,U
2,Cyborg,Jean-Claude Van Damme,Deborah Richter,Vincent Klyn,Alex Daniels,96253,Action,Sci-Fi,Thriller,"72,459",,
3,Shadow in the Cloud,Chloë Grace Moretz,Nick Robinson,Beulah Koale,Taylor John Smith,96253,Action,Horror,War,"72,459",,13
4,See No Evil,Glenn Jacobs,Christina Vidal,Michael J. Pagan,Samantha Noble,96253,Action,Horror,Thriller,"72,459",,R
...,...,...,...,...,...,...,...,...,...,...,...,...
1745,Rush Hour 3,Jackie Chan,Chris Tucker,Max von Sydow,Hiroyuki Sanada,96253,Action,Comedy,Crime,$0.12M,,UA
1746,The Cannonball Run,Burt Reynolds,Roger Moore,Farrah Fawcett,Dom DeLuise,96253,Action,Comedy,Sport,$0.12M,,U
1747,Blown Away,Jeff Bridges,Tommy Lee Jones,Suzy Amis,Lloyd Bridges,96253,Action,Crime,Drama,$0.12M,,UA
1748,Maze Runner: The Death Cure,Dylan O'Brien,Ki Hong Lee,Kaya Scodelario,Thomas Brodie-Sangster,96253,Action,Adventure,Sci-Fi,$0.12M,,UA
1749,Time Trap,Reiley McClendon,Cassidy Gifford,Brianne Howey,Olivia Draguicevich,96253,Action,Adventure,Mystery,$0.12M,,

4) Display the gross collection of movies with the star Arnold.

In [36]:
# Execute the SQL query 
result4=cur.execute("SELECT Gross_Collection FROM IMDB_2 WHERE star1 ='Arnold Schwarzenegger' OR star2 ='Arnold Schwarzenegger' OR star3 ='Arnold Schwarzenegger' OR star4 ='Arnold Schwarzenegger'")

# Fetch all rows
row4 = result4.fetchall()

# Create a DataFrame from the rows and column names
df = pd.DataFrame(row4,columns=[column[0] for column in result4.description])

df

   Gross_Collection
0          $534.86M
1            $4.19M
2            $1.11M
3          $292.00M
4           $66.49M
5            $3.68M
6           $71.07M
7           $71.07M
8           $71.07M
9           $74.54M
10          $63.95M
11          $63.95M
12          $63.95M
13           $0.12M
14           $0.12M
15          182,242
16          $13.63M
17          $70.98M
18          $70.98M
19          $15.74M
20          $10.64M
21          $17.22M
22           $8.46M
23          $26.41M
24          $13.12M

5) Display all details of movies with comedy and action genres.

In [38]:
# Execute the SQL query 
result5 = cur.execute("SELECT * FROM IMDB_2 WHERE Genre1 = 'Action' AND Genre2 = 'Comedy' OR Genre1 = 'Action' AND Genre3 = 'Comedy' ")
# Fetch all rows
rows5 = result5.fetchall()
# Create a DataFrame from the rows and column names
df5 = pd.DataFrame(rows5, columns=[column[0] for column in result5.description])
df5

,Movie_Name,Star1,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,Guardians of the Galaxy Vol. 3,Chris Pratt,Chukwudi Iwuji,Bradley Cooper,Pom Klementieff,96253,Action,Adventure,Comedy,$534.86M,,UA
1,Gangs of Wasseypur,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,Richa Chadha,96253,Action,Comedy,Crime,$534.86M,,A
2,Sherlock Jr.,Buster Keaton,Kathryn McGuire,Joe Keaton,Erwin Connelly,96253,Action,Comedy,Romance,$4.19M,,
3,"Lock, Stock and Two Smoking Barrels",Jason Flemyng,Dexter Fletcher,Nick Moran,Jason Statham,96253,Action,Comedy,Crime,$4.19M,,A
4,Sholay,Sanjeev Kumar,Dharmendra,Amitabh Bachchan,Amjad Khan,96253,Action,Adventure,Comedy,$4.19M,,U
...,...,...,...,...,...,...,...,...,...,...,...,...
365,The Adventures of Pluto Nash,Eddie Murphy,Jay Mohr,Randy Quaid,Rosario Dawson,96253,Action,Comedy,Sci-Fi,$13.12M,,PG-13
366,The Adventures of Sharkboy and Lavagirl 3-D,Cayden Boyd,George Lopez,Kristin Davis,David Arquette,96253,Action,Adventure,Comedy,$13.12M,,U
367,Spy Kids 4: All the Time in the World,Jessica Alba,Jeremy Piven,Joel McHale,Rowan Blanchard,96253,Action,Adventure,Comedy,$13.12M,,PG
368,Heropanti 2,Tiger Shroff,Nawazuddin Siddiqui,Tara Sutaria,Amber Doig-Thorne,96253,Action,Comedy,Crime,$13.12M,,UA
369,Laxmii,Akshay Kumar,Kiara Advani,Sharad Kelkar,Ashwini Kalsekar,96253,Action,Comedy,Horror,$13.12M,,UA 16+

### subquery

1) Display all details from both tables where movie names are the same.

In [29]:
# Execute the SQL query 
result = cur.execute("SELECT *FROM IMDB_1 JOIN IMDB_2 ON IMDB_1.[Movie Name] = IMDB_2.Movie_Name")
# Fetch all rows
row = result.fetchall()
# Create a DataFrame from the rows and column names
df = pd.DataFrame(row, columns=[column[0] for column in result.description])
df

,Sno,Movie Name,Director1,Director2,Director3,Duration,Year,Ratings,Metascore,Movie_Name,...,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,1,The Dark Knight,Christopher Nolan,-,-,152 min,2008,9.0,84,The Dark Knight,...,Heath Ledger,Aaron Eckhart,Michael Caine,96253,Action,Crime,Drama,$534.86M,,UA
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,-,-,201 min,2003,9.0,94,The Lord of the Rings: The Return of the King,...,Viggo Mortensen,Ian McKellen,Orlando Bloom,96253,Action,Adventure,Drama,$534.86M,,U
2,3,Inception,Christopher Nolan,-,-,148 min,2010,8.8,74,Inception,...,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,96253,Action,Adventure,Sci-Fi,$534.86M,,UA
3,4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,-,-,178 min,2001,8.8,92,The Lord of the Rings: The Fellowship of the Ring,...,Ian McKellen,Orlando Bloom,Sean Bean,96253,Action,Adventure,Drama,$534.86M,,U
4,5,The Lord of the Rings: The Two Towers,Peter Jackson,-,-,179 min,2002,8.8,87,The Lord of the Rings: The Two Towers,...,Ian McKellen,Viggo Mortensen,Orlando Bloom,96253,Action,Adventure,Drama,$534.86M,,UA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1778,1746,Radhe,Prabhu Deva,-,-,109 min,2021,1.9,-,Radhe,...,Disha Patani,Randeep Hooda,Jackie Shroff,96253,Action,Crime,Thriller,$13.12M,,UA
1779,1747,Race 3,Remo D'Souza,-,-,160 min,2018,1.9,-,Race 3,...,Salman Khan,Bobby Deol,Jacqueline Fernandez,96253,Action,Crime,Thriller,$13.12M,,UA
1780,1748,Angels Apocalypse,Sean Cain,Enzo Zelocchi,-,85 min,2015,1.7,-,Angels Apocalypse,...,Jana Rochelle,Ryan C.F. Buckley,William Kirkham,96253,Action,Fantasy,Sci-Fi,$13.12M,,
1781,1749,Elk*rtuk,Keith English,-,-,125 min,2021,1.5,-,Elk*rtuk,...,András Mózes,Barna Bokor,Gabriella Gubás,96253,Action,Crime,Drama,$13.12M,,
1782,1750,Sadak 2,Mahesh Bhatt,-,-,133 min,2020,1.2,-,Sadak 2,...,Priyanka Bose,Sanjay Dutt,Aditya Roy Kapoor,96253,Action,Drama,,$13.12M,,15+

2)   Display all movie names, Director, ratings, and gross collection where the genre is action.

In [32]:
# Execute the SQL query 
result = cur.execute("SELECT IMDB_1.[Movie Name], IMDB_1.Director1, IMDB_1.Director2, IMDB_1.Director3, IMDB_1.Ratings, IMDB_2.Gross_Collection FROM IMDB_1 JOIN IMDB_2 ON IMDB_1.[Movie Name] = IMDB_2.Movie_Name WHERE IMDB_2.Genre1 = 'Action' OR IMDB_2.Genre2 = 'Action' OR IMDB_2.Genre3 = 'Action' ")
# Fetch all rows
rows = result.fetchall()
# Create a DataFrame from the rows and column names
df = pd.DataFrame(rows, columns=[column[0] for column in result.description])
df

,Movie Name,Director1,Director2,Director3,Ratings,Gross_Collection
0,The Dark Knight,Christopher Nolan,-,-,9.0,$534.86M
1,The Lord of the Rings: The Return of the King,Peter Jackson,-,-,9.0,$534.86M
2,Inception,Christopher Nolan,-,-,8.8,$534.86M
3,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,-,-,8.8,$534.86M
4,The Lord of the Rings: The Two Towers,Peter Jackson,-,-,8.8,$534.86M
...,...,...,...,...,...,...
1778,Radhe,Prabhu Deva,-,-,1.9,$13.12M
1779,Race 3,Remo D'Souza,-,-,1.9,$13.12M
1780,Angels Apocalypse,Sean Cain,Enzo Zelocchi,-,1.7,$13.12M
1781,Elk*rtuk,Keith English,-,-,1.5,$13.12M
1782,Sadak 2,Mahesh Bhatt,-,-,1.2,$13.12M

3)      Display all details from both tables with the highest gross collection.

In [33]:
# Execute the SQL query 
result = cur.execute("SELECT * FROM IMDB_1 JOIN IMDB_2 ON IMDB_1.[Movie Name] = IMDB_2.Movie_Name WHERE IMDB_2.Gross_Collection = (SELECT MAX(Gross_Collection) FROM IMDB_2)")
# Fetch all rows
rows = result.fetchall()
# Create a DataFrame from the rows and column names
df = pd.DataFrame(rows, columns=[column[0] for column in result.description])
df

,Sno,Movie Name,Director1,Director2,Director3,Duration,Year,Ratings,Metascore,Movie_Name,...,Star2,Star3,Star4,Votes,Genre1,Genre2,Genre3,Gross_Collection,Popularity,Certification
0,1651,How It Ends,David M. Rosenthal,-,-,113 min,2018,5.0,36,How It Ends,...,Kat Graham,Nancy Sorel,Nicole Ari Parker,96253,Action,Drama,Horror,"72,459",,16
1,1652,Superman III,Richard Lester,-,-,125 min,1983,5.0,44,Superman III,...,Richard Pryor,Margot Kidder,Jackie Cooper,96253,Action,Adventure,Comedy,"72,459",,U
2,1653,Cyborg,Albert Pyun,-,-,86 min,1989,5.0,24,Cyborg,...,Deborah Richter,Vincent Klyn,Alex Daniels,96253,Action,Sci-Fi,Thriller,"72,459",,
3,1654,Shadow in the Cloud,Roseanne Liang,-,-,83 min,2020,5.0,66,Shadow in the Cloud,...,Nick Robinson,Beulah Koale,Taylor John Smith,96253,Action,Horror,War,"72,459",,13
4,1655,See No Evil,Gregory Dark,-,-,84 min,2006,5.0,17,See No Evil,...,Christina Vidal,Michael J. Pagan,Samantha Noble,96253,Action,Horror,Thriller,"72,459",,R
5,1656,The Phantom,Simon Wincer,-,-,100 min,1996,5.0,53,The Phantom,...,Kristy Swanson,Treat Williams,Catherine Zeta-Jones,96253,Action,Adventure,Comedy,"72,459",,UA
6,1657,Virus,John Bruno,-,-,99 min,1999,5.0,19,Virus,...,Donald Sutherland,William Baldwin,Joanna Pacula,96253,Action,Horror,Sci-Fi,"72,459",,R
7,1658,Dilwale,Rohit Shetty,-,-,158 min,2015,5.0,-,Dilwale,...,Kajol,Varun Dhawan,Kriti Sanon,96253,Action,Comedy,Drama,"72,459",,UA
8,1659,The Darkest Hour,Chris Gorak,-,-,89 min,2011,4.9,18,The Darkest Hour,...,Olivia Thirlby,Max Minghella,Rachael Taylor,96253,Action,Adventure,Horror,"72,459",,UA
9,1660,Charlie's Angels: Full Throttle,McG,-,-,106 min,2003,4.9,48,Charlie's Angels: Full Throttle,...,Lucy Liu,Cameron Diaz,Bernie Mac,96253,Action,Adventure,Comedy,"72,459",,A
10,1661,Wild Wild West,Barry Sonnenfeld,-,-,106 min,1999,4.9,38,Wild Wild West,...,Kevin Kline,Kenneth Branagh,Salma Hayek,96253,Action,Comedy,Sci-Fi,"72,459",,A
11,1662,The Cold Light of Day,Mabrouk El Mechri,-,-,93 min,2012,4.9,22,The Cold Light of Day,...,Bruce Willis,Sigourney Weaver,Verónica Echegui,96253,Action,Thriller,,"72,459",,UA
12,1663,Dracula 2000,Patrick Lussier,-,-,99 min,2000,4.9,26,Dracula 2000,...,Justine Waddell,Jonny Lee Miller,Christopher Plummer,96253,Action,Fantasy,Horror,"72,459",,
13,1664,Ghosts of Mars,John Carpenter,-,-,98 min,2001,4.9,35,Ghosts of Mars,...,Ice Cube,Pam Grier,Jason Statham,96253,Action,Horror,Sci-Fi,"72,459",,UA
14,1665,Blues Brothers 2000,John Landis,-,-,123 min,1998,4.9,-,Blues Brothers 2000,...,John Goodman,Walter Levine,Tom Davis,96253,Action,Comedy,Crime,"72,459",,U
15,1666,Happy New Year,Farah Khan,-,-,180 min,I) (2014,4.9,-,Happy New Year,...,Deepika Padukone,Abhishek Bachchan,Boman Irani,96253,Action,Comedy,Crime,"72,459",,U
16,1667,Anaconda,Luis Llosa,-,-,89 min,1997,4.8,37,Anaconda,...,Jennifer Lopez,Eric Stoltz,Ice Cube,96253,Action,Adventure,Horror,"72,459",,A
17,1668,The Ridiculous 6,Frank Coraci,-,-,119 min,2015,4.8,18,The Ridiculous 6,...,Terry Crews,Jorge Garcia,Taylor Lautner,96253,Action,Adventure,Comedy,"72,459",,
18,1669,After Earth,M. Night Shyamalan,-,-,100 min,2013,4.8,33,After Earth,...,David Denman,Will Smith,Sophie Okonedo,96253,Action,Adventure,Sci-Fi,"72,459",,UA
19,1670,DOA: Dead or Alive,Corey Yuen,-,-,87 min,2006,4.8,38,DOA: Dead or Alive,...,Devon Aoki,Sarah Carter,Holly Valance,96253,Action,Adventure,Mystery,"72,459",,UA
20,1671,Crocodile Dundee in Los Angeles,Simon Wincer,-,-,95 min,2001,4.8,37,Crocodile Dundee in Los Angeles,...,Linda Kozlowski,Jere Burns,Jonathan Banks,96253,Action,Adventure,Comedy,"72,459",,UA
21,1672,Tekken,Dwight H. Little,-,-,91 min,2010,4.8,-,Tekken,...,Kelly Overton,Cary-Hiroyuki Tagawa,Ian Anthony Dale,96253,Action,Crime,Drama,"72,459",,R
22,1673,Teenage Mutant Ninja Turtles III,Stuart Gillard,-,-,96 min,1993,4.8,40,Teenage Mutant Ninja Turtles III,...,Paige Turco,Stuart Wilson,Sab Shimono,96253,Action,Adventure,Comedy,"72,459",,U
23,1674,Double Team,Hark Tsui,-,-,93 min,1997,4.8,44,Double Team,...,Dennis Rodman,Mickey Rourke,Paul Freeman,96253,Action,Comedy,Sci-Fi,"72,459",,UA
24,1675,Godsend,Frank M. Calo,Nick Hamm,-,102 min,2004,4.8,24,Godsend,...,Greg Kinnear,Rebecca Romijn,Cameron Bright,96253,Action,Drama,Fantasy,"72,459",,UA
25,1676,Howard the Duck,Willard Huyck,-,-,110 min,1986,4.7,28,Howard the Duck,...,Jeffrey Jones,Tim Robbins,Ed Gale,96253,Action,Adventure,Comedy,"72,459",,U
26,1677,Zoolander 2,Ben Stiller,-,-,101 min,2016,4.7,34,Zoolander 2,...,Owen Wilson,Penélope Cruz,Will Ferrell,96253,Action,Adventure,Comedy,"72,459",,U
27,1678,Elektra,Rob Bowman,-,-,97 min,2005,4.7,34,Elektra,...,Goran Visnjic,Will Yun Lee,Kirsten Zien,96253,Action,Adventure,Crime,"72,459",,UA
28,1679,The Spirit,Frank Miller,-,-,103 min,2008,4.7,30,The Spirit,...,Samuel L. Jackson,Scarlett Johansson,Jaime King,96253,Action,Crime,Fantasy,"72,459",,PG-13
29,1680,The Marine,John Bonito,-,-,92 min,2006,4.7,45,The Marine,...,Kelly Carlson,Robert Patrick,Anthony Ray Parker,96253,Action,Comedy,Drama,"72,459",,PG-13
30,1681,Jonah Hex,Jimmy Hayward,-,-,81 min,2010,4.7,33,Jonah Hex,...,Megan Fox,John Malkovich,Michael Fassbender,96253,Action,Drama,Fantasy,"72,459",,PG-13
31,1682,Anacondas: The Hunt for the Blood Orchid,Dwight H. Little,-,-,97 min,2004,4.7,40,Anacondas: The Hunt for the Blood Orchid,...,KaDee Strickland,Eugene Byrd,Johnny Messner,96253,Action,Adventure,Horror,"72,459",,U
32,1683,Ra.One,Anubhav Sinha,-,-,156 min,2011,4.7,60,Ra.One,...,Arjun Rampal,Kareena Kapoor,Shahana Goswami,96253,Action,Adventure,Sci-Fi,"72,459",,U
33,1684,Shamshera,Karan Malhotra,-,-,178 min,2022,4.7,-,Shamshera,...,Sanjay Dutt,Vaani Kapoor,Saurabh Shukla,96253,Action,Adventure,Drama,"72,459",,UA
34,1685,Bharat,Ali Abbas Zafar,-,-,150 min,2019,4.7,-,Bharat,...,Katrina Kaif,Sunil Grover,Tabu,96253,Action,Comedy,Drama,"72,459",,UA
35,1686,Bodyguard,Siddique,-,-,130 min,I) (2011,4.7,41,Bodyguard,...,Kareena Kapoor,Raj Babbar,Hazel Keech,96253,Action,Comedy,Drama,"72,459",,UA
36,1687,Interceptor,Matthew Reilly,-,-,99 min,2022,4.6,51,Interceptor,...,Luke Bracey,Aaron Glenane,Mayen Mehta,96253,Action,Adventure,Drama,"72,459",,UA 16+
37,1688,Superhero Movie,Craig Mazin,-,-,75 min,2008,4.6,33,Superhero Movie,...,Leslie Nielsen,Sara Paxton,Christopher McDonald,96253,Action,Comedy,Sci-Fi,"72,459",,Not Rated
38,1689,AVPR: Aliens vs Predator - Requiem,Colin Strause,Greg Strause,-,94 min,2007,4.6,29,AVPR: Aliens vs Predator - Requiem,...,Steven Pasquale,Shareeka Epps,John Ortiz,96253,Action,Adventure,Horror,"72,459",,R
39,1690,Shehzada,Rohit Dhawan,-,-,142 min,2023,4.6,-,Shehzada,...,Kriti Sanon,Paresh Rawal,Manisha Koirala,96253,Action,Comedy,Drama,"72,459",,UA
40,1691,Driven,Renny Harlin,-,-,116 min,2001,4.6,29,Driven,...,Kip Pardue,Til Schweiger,Burt Reynolds,96253,Action,Drama,Sport,"72,459",,U
41,1692,Snatched,Jonathan Levine,-,-,90 min,2017,4.6,45,Snatched,...,Goldie Hawn,Kim Caramele,Raven Goodwin,96253,Action,Adventure,Comedy,"72,459",,R
42,1693,Thunder Force,Ben Falcone,-,-,106 min,2021,4.5,34,Thunder Force,...,Octavia Spencer,Jason Bateman,Bobby Cannavale,96253,Action,Adventure,Comedy,"72,459",,13
43,545,Taxi,GÃ©rard PirÃ¨s,-,-,89 min,I) (1998,7.0,-,Taxi,...,Jimmy Fallon,Gisele Bündchen,Henry Simmons,96253,Action,Comedy,Crime,"72,459",,U
44,1694,Taxi,Tim Story,-,-,97 min,I) (2004,4.5,27,Taxi,...,Jimmy Fallon,Gisele Bündchen,Henry Simmons,96253,Action,Comedy,Crime,"72,459",,U
45,1695,Home Alone 3,Raja Gosnell,-,-,102 min,1997,4.5,-,Home Alone 3,...,Olek Krupa,Rya Kihlstedt,Lenny von Dohlen,96253,Action,Comedy,Crime,"72,459",,UA
46,1696,Species II,Peter Medak,-,-,93 min,1998,4.5,19,Species II,...,Michael Madsen,Marg Helgenberger,Mykelti Williamson,96253,Action,Horror,Sci-Fi,"72,459",,A
47,1697,xXx: State of the Union,Lee Tamahori,-,-,101 min,2005,4.5,37,xXx: State of the Union,...,Samuel L. Jackson,Willem Dafoe,Scott Speedman,96253,Action,Adventure,Crime,"72,459",,U
48,1698,Kangaroo Jack,David McNally,-,-,89 min,2003,4.5,16,Kangaroo Jack,...,Jerry O'Connell,Estella Warren,Christopher Walken,96253,Action,Adventure,Comedy,"72,459",,U
49,1699,Skyline,Colin Strause,Greg Strause,-,92 min,2010,4.5,26,Skyline,...,Donald Faison,Scottie Thompson,Brittany Daniel,96253,Action,Sci-Fi,Thriller,"72,459",,PG-13
50,1700,The Next Karate Kid,Christopher Cain,-,-,107 min,1994,4.5,36,The Next Karate Kid,...,Hilary Swank,Michael Ironside,Constance Towers,96253,Action,Drama,Family,"72,459",,U

4)      Display all details from both tables with the highest ratings

In [25]:
# Execute the SQL query 
result = cur.execute("SELECT IMDB_1.*, IMDB_2.Gross_Collection FROM IMDB_1 JOIN IMDB_2 ON IMDB_1.[Movie Name] = IMDB_2.Movie_Name WHERE IMDB_1.Ratings = (SELECT MAX(Ratings) FROM IMDB_1")
# Fetch all rows
rows = result.fetchall()
# Create a DataFrame from the rows and column names
df = pd.DataFrame(rows, columns=[column[0] for column in result.description])
df

,Sno,Movie Name,Director1,Director2,Director3,Duration,Year,Ratings,Metascore,Gross_Collection
0,1,The Dark Knight,Christopher Nolan,-,-,152 min,2008,9.0,84,$534.86M
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,-,-,201 min,2003,9.0,94,$534.86M

5)      Display all details from both tables with the lowest gross collection and lowest ratings

In [23]:
# Execute the SQL query 
result = cur.execute("SELECT MIN(IMDB_2.Gross_Collection), MIN(IMDB_1.Ratings) FROM IMDB_2 CROSS JOIN IMDB_1")
# Fetch all rows
row = result.fetchall()
# Create a DataFrame from the rows and column names
df = pd.DataFrame(row, columns=[column[0] for column in result.description])
df

  MIN(IMDB_2.Gross_Collection)  MIN(IMDB_1.Ratings)
0                       $0.12M                  1.2